body {
    margin: 0;
    padding: 0;
    background-color: #008081;
    font-family: 'helvetica';
}

a {
    text-decoration: none;
}

.btn-ph {
    display: none;
}

a.btn {
    text-decoration: none;
    color: #000;
    display: inline-block;
    line-height: 1em;
    background-color: #C0C0C0;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
}

a.btn .btn-layer-1 {
    display: inline-block;
    padding: 2px 4px;
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 1.4em;
    box-sizing: border-box;
    border-top: 1px solid #DFDFDF;
    border-left: 1px solid #DFDFDF;
    border-right: 1px solid #808080;
    border-bottom: 1px solid #808080;
}

.clock {
    line-height: 26px;
    padding: 2px 4px;

    border-top: 1px solid #808080;
    border-left: 1px solid #808080;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
}


.start-menu {
    background-color: #C0C0C0;
    border-top: 1px solid #C8E8EA;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    line-height: 26px;
    box-sizing: border-box;
}

.start-menu-inner {
    border-top: 1px solid #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
}

.window {
    position: absolute;
    top: 100px;
    left: 100px;
    background-color: #C0C0C0;

    border-left: 1px solid #BDEBF8;
    border-top: 1px solid #BDEBF8;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    overflow: hidden;
}

.window-inner {
    overflow-y: scroll;
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #808183;
    border-right: 1px solid #808183;
    padding: 1px;
    height: 100%;
}

.window iframe {
    width: 100%;
    height: 100%;
}

.window .window-body {
    height: 100%;
}

.window .window-header {
    background-color: #07007E;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    flex-direction: row;
    padding: 2px 3px;
}

.window .window-header .btn {
    width: 25px;
    height: 25px;
}

.window .window-header .window-header-title {
    color: #fff;
    font-weight: bold;
}

.window .window-header .window-header-title a.btn .btn-layer-1 {
}

.desktop {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: space-between;
    flex-direction: column;
    flex-wrap: nowrap;
}

.icon {
    display: flex;
    align-items: center;
    align-content: space-between;
    flex-direction: column;
    justify-content: center;
    width: 120px;
    text-decoration: none;
    color: #fff;
    margin: 10px;
    text-align: center;
}

.icon-img {
    width: 64px;
    height: 64px;
    display: inline-block;
    font-size: 60px;
    margin-bottom: 5px;
    color: #333;
}